@model DIPR.Models.Baby.BabyDetail

@{
    ViewBag.Title = "Details";
}

<h2>Babies</h2>

<div>
    <h4>Baby Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BabyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BabyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
