@model IEnumerable<DIPR.Models.Baby.BabyListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Babies</h2>

<p>
    @Html.ActionLink("Add a Baby", "Create")
</p>
<p>
    @Html.ActionLink("Add a Diaper", "Create", "Diaper")
</p>
<p>
    @Html.ActionLink("Add Sleep Data", "Create", "Sleep")
</p>
<p>
    @Html.ActionLink("Add a Bottle", "Create", "Bottle")
</p>
<p>
    @Html.ActionLink("Add Nursing Data", "Create", "Nursing")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BabyID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BabyID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BabyID })
            </td>
        </tr>
    }

</table>
