@model IEnumerable<DIPR.Models.Baby.BabyListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Babies</h2>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Add Data</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">@Html.ActionLink("Add a Baby", "Create")</li>
                <li class="list-group-item"> @Html.ActionLink("Add a Diaper", "Create", "Diaper")</li>
                <li class="list-group-item"> @Html.ActionLink("Add Sleep Data", "Create", "Sleep")</li>
                <li class="list-group-item">@Html.ActionLink("Add a Bottle", "Create", "Bottle") </li>
                <li class="list-group-item">@Html.ActionLink("Add Nursing Data", "Create", "Nursing") </li>
            </ul>
        </div>
    </div>
</div>
<hr />
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                <p>Actions</p>
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BabyID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BabyID })
        </td>
    </tr>
        }

    </table>
