@model DIPR.Models.Sleep.SleepDetail

@{
    ViewBag.Title = "Details";
}

<h2>Sleep</h2>

<div>
    <h4>Sleep Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SleepID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SleepID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSleep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSleep)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SleepID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
